<div class="container">
    <!-- <div class="element header">
        header
    </div> -->
    <div class="element graphs">
        <h1>Summary ({{ date | date:'mediumDate'}})</h1>
        <div class="stats">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title><h4>Lowest</h4></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>100</h1>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-footer>
                    <p>All time lowest expense</p>
                </mat-card-footer>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title><h4>Total Expense</h4></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>150</h1>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-footer>
                    <!-- <span>Increased<strong> 20%</strong></span> -->
                    <p>Increased<strong> 20%</strong></p>
                </mat-card-footer>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title><h4>Highest</h4></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>1000</h1>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-footer>
                    <p>All time highest expense</p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="element transaction-history">
        <h1>Transaction History</h1>
        <table mat-table [dataSource]="tableData">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
            
            <!-- Category Column -->
            <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'mediumDate'}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount (INR) </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>