<div class="container">
    <div class="logo">
        <mat-icon class="logo-element">shopping_bag</mat-icon>
        <span class="logo-element">Expense Tracker</span>
    </div>
    <div class="box">
        <div class="title">
            <h1>Sign in</h1>
        </div>
        <div class="content">
            <form [formGroup]="signupForm">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="email" placeholder="Email" >
                    @if (signupForm.controls.password.touched && signupForm.controls.password.errors) {
                        <mat-error>Email is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" placeholder="Password"/>
                    <button mat-icon-button matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (signupForm.controls.password.touched && signupForm.controls.password.errors) {
                        <mat-error>Password is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput [type]="hide() ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password"/>
                    <button mat-icon-button matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (signupForm.controls.password.touched && signupForm.controls.password.errors) {
                        <mat-error>Password confirmation is required</mat-error>
                    }
                </mat-form-field>
            </form>
            <button mat-flat-button class="signup-btn" (click)="onSignup()" [disabled]="isInvalidForm()">Sign in</button>
            <hr>
            <p>Already have an account? <a class="login-link" href="/login">Login.</a></p>
        </div>
    </div>
</div>